body{
	font-family: 'Poppins', sans-serif;
    background-color: 	#020624;
    color: white;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #fff;
}
#confirmedCard{
	
    -webkit-box-shadow: 0px 0px 8px 3px white;
    -moz-box-shadow: 0px 0px 8px 3px white;
    box-shadow: 0px 0px 8px 3px white;
 }
#covid{
    padding: 5px;
    width: auto;
    height: 150px;
}
.card{
    background: #000b52;
    padding: 40px;
    color: white;
    margin: auto;
    transition: all 0.3s;
}
#nums{
	font-size: 35px;
	text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.footer { 
   
    
    text-align: center;
    max-height: 1px;
    min-width: 200px;
} 
.regtext{
    
    text-align: center;

}