{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'covid19app/css/Main.css' %}">
</head>
<body>
    
    <div class="wrapper">

        <!--SIDE-BAR-->
        <nav id="sidebar">
            <div class="sidebar-header">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h3>{{request.user}}</h3>
                <h5 id="date"></h5>
            </div>
            <ul class="sidebar-list components">
                <li>
                    <a href="/main">Global Data</a>
                </li>
                <li>
                    
                    <a href="/country">Country Data</a>
                </li>
            </ul>
        </nav>
        <div id="content">
            
            <div class="card">
              
              <div class="card-title text-centre">
                
                <button id="sidebarCollapse" class="card float-left"><i class="fa fa-toggle-on" aria-hidden="true"></i></button>
            <a href="/logout">
            <button type="button" href="/logout" class="btn btn-danger">Logout</button></a>
                

                
              </div>
            </div>
            <h3>Covid19 Dashboard</h3>
            <br>
            
            <div class="row">
                
                <div class="col-md-4 col-sm-4 col-xs-8">
                    <div class="card" id="confirmedCard">
                        <div class="card-body">
                            <h4 class="card-title">Confirmed Cases</h4>
                            <p id="nums" class="card-text count">{{covidCases.TotalConfirmed}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-8">
                    <div class="card" id="recoveredCard">
                        <div class="card-body">
                            <h4 class="card-title">Recovered Cases</h4>
                            <p id="nums" class="card-text count">{{covidCases.TotalRecovered}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-8">
                    <div class="card" id="deathCard">
                        <div class="card-body">
                            <h4 class="card-title">Death Cases</h4>
                            
                            <p id="nums" class="card-text count">{{covidCases.TotalDeaths}}</p>
                        </div>
                    </div>
                </div>  
            </div>
            <br>
            
            
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="barChart" width="100" height="65"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="polarChart" width="100" height="65"></canvas>
                        </div>
                    </div>
                </div>
            </div>            
            <br>   
                 
            <div class="row">
                
                <div class="col-md-4 col-sm-4 col-xs-8">
                    <div class="card" id="">
                        <div class="card-body">
                            <h4 class="card-title">New Cases</h4>
                            <p id="nums" class="count card-text">{{covidCases.NewConfirmed}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-8">
                    <div class="card" id="">
                        <div class="card-body">
                            <h4 class="card-title">New Recovered</h4>
                            <p id="nums" class="count card-text">{{covidCases.NewRecovered}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-8">
                    <div class="card" id="">
                        <div class="card-body">
                            <h4 class="card-title">New Deaths</h4>
                            <p id="nums" class="card-text count">{{covidCases.NewDeaths}}</p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        
        
    </div>
    <!--Bootstrap CDN-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!--Chart.js CDN-->
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous"></script>
    <!---->
    <script>
        $ ('.count').counterUp({
            delay: 20,
            time: 1000
        });
        console.log('.count')
    </script>
    <script>
        var num =  new Date();
        var yr = num.getFullYear();
        var mo = num.getMonth() + 1;
        var dt = num.getDate();
        var monthArr = ["Jan", "Feb","Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov","Dec"];
        mo = monthArr[mo];
        document.getElementById("date").innerHTML = dt + " " + mo + ", " + yr;
    </script>
    <script>
        $(document).ready(function(){
            $("#sidebarCollapse").on('click', function(){
                $("#sidebar").toggleClass('active');
            });
        });
    </script>
    <!--Chart JS-->
    <script>
        console.log("Main Running")
        const x = '{{covidCases.TotalConfirmed}}';
        const y = '{{covidCases.TotalRecovered}}';
        const z = '{{covidCases.TotalDeaths}}';
        //console.log(x);
        const n = 100;
        
        const ctx1 = document.getElementById('barChart').getContext('2d');
        const chart1 = new Chart(ctx1, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['Affected', 'Recovered', 'Deaths'],
                datasets: [{
                    labels: ['Affected', 'Recovered', 'Deaths'],
                    //fill : false,
                    backgroundColor: ['rgb(77, 0, 255)','rgb(0, 175, 58)','rgb(208, 0, 0)'],
                    borderColor: ['rgb(0, 0, 0)','rgb(0, 0, 0)','rgb(0, 0, 0)'],
                    data: [x/n,y/n,z/n]
                }]
            },
        });
        
    </script>
    <script>
        console.log("Main Running")
        const x1 = '{{covidCases.TotalConfirmed}}';
        
        const y1 = '{{covidCases.TotalRecovered}}';
        const z1 = '{{covidCases.TotalDeaths}}';
        const a1 = x1-y1;
        //console.log(x);
        
        const m = 100/x1;
        const ctx = document.getElementById('polarChart').getContext('2d');
        const chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'doughnut',

            // The data for our dataset
            data: {
                labels: ['Affected', 'Recovered', 'Deaths'],
                datasets: [{
                    
                    //fill : false,
                    backgroundColor: ['rgb(0, 175, 58)','rgb(77, 0, 255)','rgb(208, 0, 0)'],
                    borderColor: ['rgb(0, 0, 0)','rgb(0, 0, 0)','rgb(0, 0, 0)'],
                    data: [y1,a1,z1]
                }]
            },
        });
        
    </script>
    
    
    
    
</body>
</html>